html,
body {
	padding: 0;
	margin: 0;
	font-family: Roboto, Arial, sans-serif;
	line-height: 1.6;
	font-size: 18px;
	background-color: var(--background-color);
	color: var(--color);
}

* {
	box-sizing: border-box;
	--background-color: #202020;
	--color: #d0d0d0;
	--link-color: #f0f0f0;
	--link-hover-color: #f0f0f0;
	--light-color: #c0c0c0;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: var(--link-hover-color);
}

img {
	max-width: 100%;
	display: block;
}

footer {
	text-align: center;
	background-color: #404040 !important;
	color: #b0b0b0;
}

strong {
	font-weight: bold;
	color: var(--light-color);
}
